<p [ngStyle]="{'color': 'red'}">test works!</p>
<p [ngStyle]="check=='true'?style1:style2"> what</p>
<p [ngClass]="'blueenabled'"></p>
<p [ngClass]="check=='true'?'blueenabled':'bluedisabled '">but why </p>
<select name="" id=""  (change)="color($event)">
    <option value="red">red</option>
    <option value="blue">blue</option>
    <option value="orange">orange</option>
</select>
<p [ngClass="check=='true?style1:style2"> hai guys</p>
<fa-icon [icon]="calender"></fa-icon>
<fa-icon [icon]="coffee"></fa-icon>